body, html {
    height: 100%;
}

ul#flex-container {
    list-style-type: none;
    margin: 0; padding: 0;
}

ul li{
    height: 150px;
    padding-top: 45px;
    color: #FFF;
    font-weight: bold;
    font-size: 2.2em;
    text-align: center;
}

ul li:first-child {background-color: #C2D775}
ul li:nth-child(2) {background-color: #007278}
ul li:nth-child(3) {background-color: #C7B600}
ul li:nth-child(4) {background-color: #A90077}
ul li:nth-child(5) {background-color: #00A378}
ul li:last-child {background-color: #00EA72}